<%- include("partials/header.ejs") %>

<% if(locals.adjective && locals.noun) { %>
<h1><%= adjective %> <%= noun %></h1>
<% } %>

<form action="/submit" method="POST">
  <input id="submitBtn" type="submit" value="Generate Name">
</form>
<%- include("partials/footer.ejs") %>